$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    //padding-top: 20px;
    //padding-bottom: 20px;
	height: 100%;
}

html {
	height: 100%;
}

.container  {
    width: 100%;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.front-logo {
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url('../images/front-bg.jpg') ;
    min-height: 100%;
    background-repeat:no-repeat;
	background-position: center center;
}


.header {
    text-align: center;
    color: #FFFFFF;
	h1 {
		text-transform:uppercase;
		font-weight: bold;
        color: #f7931e; /*orange*/
	}
    
    padding-top: 200px;
    
    
}

.header.withTop{
    padding-top: 10px;
}


.search {
    background-color: transparent;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
	input {
		float: left;
		width: 80%;
		font-size: 2em;
		margin-right: 2%;
	}

	.search-button {
		width: 18%;
	}

	.help-block {
		float: left;
	}

}

.interestContainer {
	padding-top: 10%;
    min-height: 100%;
}

.topInterests {
    
    width:400px;

    margin: 0 auto;

	thead th {
			font-size: 1.2em;
			font-weight: bold;
	}

	.registerButton {
		margin-left:auto;
		margin-right:auto;
		width: 20%;

		.btn {
			margin-top: 1em;
		}
	}
}


.login {
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	label {
		width: 20%;
		margin-top: 1em;
	}
	input {
		width: 80%;
	}
	button {
		margin-top: 1em;
	}
}

.interests {

	.search-box {
		float: left;
		width: 90%;
		font-size: 1.30em;
		margin-right: 2%;
	}

	.search-button {
		width: 8%;
	}


	.interest {
		.name {
			margin-bottom: 0;
		}

		.info {
			padding-left: 2em;
			padding-bottom: 1em;

			.event {
				border-style: solid;
				border-width: 1px;
				border-color: #B5B5B5;
				padding: 0.25em;
				margin: 1em;
				.name {
					text-decoration:underline;
					font-size: 1.32em;
				}

				&:hover {
					background-color: #B5B5B5;
				}
			}

			.create-event-button {
			}

		}

		border-bottom-style: dashed;
		border-bottom-width: 1px;
		border-bottom-color: #B5B5B5;
	}

	.suggestion {
		background-color: #B8F595 !important;
		margin-top: 1em;
		margin-bottom: 1em;
		.info {
			padding-left: 2.5em;

			border-style: none;
		}

		border-style: dashed;
		border-width: 1px;
		border-color: #7BB858;

	}
}

.meetups {
	.meetup {
		.event {
			border-style: solid;
			border-width: 1px;
			border-color: #B5B5B5;
			padding: 0.25em;
			margin: 1em;
			.name {
				text-decoration:underline;
				font-size: 1.32em;
			}
		}
	}
}


.createEvent {
	.control-group {

		label {
			display: block;
		}

		.input {
			width: 100%;
		}


	}

	.create {
		float: left;
	}

	.cancel {
		float: right;
	}
}