<div ng-include="'partials/imagehead'" class="imageHeadInclude"></div>
<div class="main-container">
<div ng-include="'partials/navbar'"></div>
	<div class="eventDetails">
	<button class="btn btn-error" ng-click="joinEvent(event._id)" ng-disabled="joinButtonDisabled" ng-model="joinButtonDisabled">Join</button>
	<h1>{{event.name}}</h1>
	<p>{{event.description}}</p>
	<strong> WHEN >> </strong><br/>
	<p>{{event.date}}</p>
	<strong> WHERE >> </strong><br/>
	<p>Helsinki</p>
	<strong> WHO IS JOINING >> </strong><br/>
	<p>{{participants}}</p>
	

	</div>
</div>