
<div ng-include="'partials/navbar'"></div>
<div class="jumbotron meetups">
	<h2>Your meetups</h2>
	<div class="meetup">
		<a ng-repeat="event in events" href="#/event/{{event._id}}">
			<div class="event">
				<strong class="name">{{event.name}}</strong>
				<br/>
				<strong>Date: </strong><small>{{event.date}}</small>
				<br/>
				<strong>Description: </strong><small>{{event.description}}</small>
				<br/>
				<strong>Users attending: </strong><small>{{event.users.length}}</small>
			</div>
		</a>
	</div>
</div>