<div ng-include="'partials/imagehead'" class="imageHeadInclude"></div>
<div class="main-container">
<div ng-include="'partials/navbar'"></div>
	<div class="meetups">
		<h2>Your meetups</h2>
		<div class="meetup">
			<a ng-repeat="event in events" href="#/user/eventdetails/{{event._id}}">
					<div class="event" ng-hide="containsThisUser(event.users)">
						<strong class="eventName">{{event.name}}</strong> More >>
						<br/>
						<div class="evetDate">{{event.date}}</div>
					</div>
				</a>
		</div>
	</div>
</div>