<div class="front-logo">

<div class="loginDiv">
	<form class="form-inline" >
		<label>Login: </label>
		<input ng-keyup="$event.keyCode == 13 ? doLogin() : null" class="input-sm search-query" type="text" ng-model="username" placeholder="Username">
		<input ng-keyup="$event.keyCode == 13 ? doLogin() : null" class="input-sm search-query" type="password" ng-model="password" placeholder="Password">
		<label class="forgot">Forgot your password?</label>
	</form>
</div>

<div class="row header">
        <h1><a href="#/"  class="text-center">Getogether</a></h1>
        Find and gather with friends who share your passion.
    </div>

<div class="jumbotron search">
	<form class="form-search">
		<fieldset>
			<input type="text" class="search-query" placeholder="Type in your location...">
			<button class="search-button btn btn-lg btn-success btn-block" type="submit" ng-click="searchLocation()">SEARCH</button>
		</fieldset>
	</form>
</div>

</div>

<div class="interestContainer" id="results" ng-show="topInterests !== undefined">
<div class="upper text-center">
<h1><strong>TOP 5</strong> INTERESTS</h1>
<h2>in your area</h2>
</div>
<div class="lower" >
	<div class="interestContainer">
		<div class="interestDiv" ng-repeat="interests in topInterests">
			<div class="name">{{interests.name}}</div>
			<div class="interestedIn">
				<div class="count text-center">{{interests.userCount}}</div>
				like it
			</div>
		</div>

		<div class="registerButton">
			<a href="#/register">
				<button class="btn btn-lg btn-success signup" type="button">SIGN UP</button>
			</a>
			<a href="#/login">
				<button class="btn btn-lg btn-primary loginBut" type="button">LOG IN</button>
			</a>
		</div>
	</div>
	
</div>

<!-- <div class="jumbotron topInterests" id="results" >
	
	 <table class="table">
		<thead>
		<tr>
			<th>NAME</th>
			<th>INTERESTED</th>
		<tr>
		</thead>
		<tbody>
			<tr ng-repeat="interests in topInterests">
				<td>{{interests.name}}</td>
				<td>{{interests.userCount}}</td>
			</tr>
		</tbody>
	</table>
	<div class="registerButton">
		<a href="#/register">
			<button class="btn btn-lg btn-primary btn-block" type="button">Register</button>
		</a>
		<a href="#/login">
			<button class="btn btn-lg btn-primary btn-block" type="button">Login</button>
		</a>
	</div>
</div>
 -->
</div>
