<div class="front-logo">

<div class="row header" ng-class="withTop">
        <a href="#/"><h1 class="text-center">Getogether</h1></a>
        Find and gather with friends who share your passion.
    </div>

<div class="jumbotron search">
	<form>
		<fieldset>
			<input type="text" placeholder="Helsinki, Finland">
			<button class="search-button btn btn-lg btn-primary btn-block" type="submit" ng-click="searchLocation()">Search</button>
		</fieldset>
		<span class="help-block">See what people are interested in your area</span>
	</form>
</div>

<div class="jumbotron topInterests" ng-show="topInterests !== undefined">
	<table class="table">
		<thead>
		<tr>
			<th>NAME</th>
			<th>INTERESTED</th>
		<tr>
		</thead>
		<tbody>
			<tr ng-repeat="interests in topInterests">
				<td>{{interests.name}}</td>
				<td>{{interests.userCount}}</td>
			</tr>
		</tbody>
	</table>
	<div class="registerButton">
		<a href="#/register">
			<button class="btn btn-lg btn-primary btn-block" type="button">Register</button>
		</a>
		<a href="#/login">
			<button class="btn btn-lg btn-primary btn-block" type="button">Login</button>
		</a>
	</div>
</div>
</div>