
<div ng-include="'partials/imagehead'" class="imageHeadInclude"></div>

<div class="main-container">
	<div ng-include="'partials/navbar'"></div>
	<div class="interests">
		<div class="top">
			<h2>You like...</h2>
			<form ng-submit="addInterest()">
				<fieldset>
					<input type="text" class="search-box" placeholder="Tennis, Chess, etc." ng-model="interestSearch" ng-change="searchChanged()">
					<button type="submit" class="search-button btn btn-success btn-sm">
					  <i class="glyphicon glyphicon-plus-sign"></i> Add
					</button>
				</fieldset>
			</form>
		</div>
		<div class="interest" ng-hide="(searchInterest.name === undefined || searchInterest.events.length !== eventObjects.length)">
			<div class="interest suggestion">
				<h4 class="name">{{searchInterest.name}}</h4>
			<div class="count"><strong>{{searchInterest.userCount}}</strong> liked it</div>
			</div>
		</div>
		<div class="interest" ng-repeat="interest in interests" ng-class="{opened: (targetInterest === interest._id), notSelected: (targetInterest !== null && targetInterest !== interest._id) }" ng-click="interestClicked(interest)">
			<h4 class="name">{{interest.name}}</h4>
			<div class="count"><strong>{{interest.userCount}}</strong> liked it</div>
			<div class="expanded" ng-hide="targetInterest !== interest._id"> 
				<a ng-repeat="event in interest.eventObjects" href="#/user/eventdetails/{{event._id}}">
					<div class="event" ng-hide="containsThisUser(event.users)">
						<strong class="eventName">{{event.name}}</strong> More >>
						<br/>
						<div class="evetDate">{{event.date}}</div>
					</div>
				</a>

				<div class="createDiv pull-right">
					<div class="CreateOwn">
						Can't find something you like? <br/>
						<strong> Create your own get-together!</strong>
						<a ng-click="createNewEvent(interest._id)">
							<button type="button" class="btn btn-error btn-sm ">
								<i class="glyphicon glyphicon-plus-sign"></i> Create
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>