
<div ng-include="'partials/navbar'"></div>
<div class="jumbotron interests">
	<h2>Your interests</h2>
	<form ng-submit="addInterest()">
		<fieldset>
			<input type="text" class="search-box" placeholder="Tennis, Chess, etc." ng-model="interestSearch" ng-change="searchChanged()">
			<button type="submit" class="search-button btn btn-primary btn-sm">
			  <i class="glyphicon glyphicon-plus-sign"></i> Add
			</button>
		</fieldset>
	</form>
	<div class="interest" ng-hide="(searchInterest.name === undefined || searchInterest.events.length !== eventObjects.length)">
		<div class="interest suggestion">
			<h4 class="name">{{searchInterest.name}}</h4>
			<div class="info">
				<small>{{searchInterest.userCount}} other people are interested.</small>
				<a ng-repeat="event in eventObjects" href="#">
					<div class="event" ng-hide="containsThisUser(event.users)">
						<strong class="name">{{event.name}}</strong>
						<br/>
						<strong>Date: </strong><small>{{event.date}}</small>
						<br/>
						<strong>Description: </strong><small>{{event.description}}</small>
						<br/>
						<strong>Users attending: </strong><small>{{event.users.length}}</small>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="interest" ng-repeat="interest in interests">
		<h4 class="name">{{interest.name}}</h4>
		<a ng-click="createNewEvent(interest._id)">
			<button type="button" class="btn btn-success btn-sm  create-event-button pull-right">
				<i class="glyphicon glyphicon-plus-sign"></i> Create Meetup
			</button>
		</a>
		<div class="info">
			

			<small>{{interest.userCount}} other people are interested.</small>

			<a ng-repeat="event in interest.eventObjects" href="#/event/{{event._id}}">
				<div class="event" ng-hide="containsThisUser(event.users)">
					<strong class="name">{{event.name}}</strong>
					<br/>
					<strong>Date: </strong><small>{{event.date}}</small>
					<br/>
					<strong>Description: </strong><small>{{event.description}}</small>
					<br/>
					<strong>Users attending: </strong><small>{{event.users.length}}</small>
				</div>
			</a>

			
		</div>
		
	</div>
</div>